@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rej ;
    src: url(./Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}
html,body{
    height: 100%;
    width: 100%;
}

.cursor{
    height: 8vw;
    width: 8vw;
    background-color: #FF5F38;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor h1{
    font-size: 1.3vmax;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.page1 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
.page1-cont{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    z-index: 100;
}
nav{
    padding: 2vmax;
}

.page1-cont h1 span{
    width: 100%;
   font-size: 30vmax;
   font-family: rej;
   font-weight: 500;
   line-height: 27vw;
}

.page2{
    min-height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
}

.page2-upper{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vmax 4vmax;

}
.line{
    height: 1px;
    width: 92%;
    background-color: black;
    text-align: center;
    margin-left: 4%;
    position: absolute;
    top: 25%;
}

 .page2-upper h3,.page2-upper h4{
    font-size: 1.7vw;
    font-weight: 500;
    /* width: 26%; */
}


.elem h1:first-child{
    text-align: center;
}

.elem h1 {
    font-size: 4.2vw;
    font-weight: 500;
    padding: 0 3vmax;
    line-height: 5vmax;
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    padding: 0.5vh;
    
}

.page3-upper{
    margin-top: 15vh;
    /* padding: 1vmax 2vmax; */
}
.page3-upper h4{
    font-size: 3vh;
}

.page3-upper h1{
    font-size: 8.5vh;
    line-height: 4.4vmax;
}
.container3{
    margin-top: 12%;
}
.page3-elem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3vmax;
}
.page3-elem h4{
    font-size: 1.6vmax;
}
.page3-boxes{
    height: 100%;
    padding: 0.5vmax 1vmax;
}
.box {
    height: 88vh;
    width: 31%;
    position: relative;
    
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transition: 0.7s linear all;
}
.page3-boxes .box img:hover{
    cursor: pointer;
}
.page4{
    min-height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    padding: 0.5vh;
}
.page4-upper{
    height: 14vh;
    width: 100%;
    position: relative ;
    margin-top : 10%;
}
.page4-upper h3{
    padding: 0vmax 3.8vmax;
    font-size: 1.5vmax;
}
.line2{
    height: 1px;
    width: 92%;
    background-color: black;
    text-align: center;
    margin-left: 4%;
    position: absolute;
    top: 80%;
}
.ele4 h1 {
    font-size: 4.2vw;
    font-weight: 500;
    padding: 0 4vmax;
    line-height: 5vmax;
    width: 100%;
}
.page5{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF8F3;
    position: relative;
}
.page5 video{
    height: 100%;
}
.page5 svg{
    position: absolute;
    height: 60%;
}
.page6{
    min-height: 100vh;
    width: 100%;
}

.cursor2 {
    width: 6.6vw;
    height: 6.6vw;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    background-color: black;
    color: #fff;
}
